.button {
  height: 32px;
  font-family: var(--font-gardens-src) !important;

  &:global(.ant-btn-lg) {
    height: 40px;
    font-size: 14px;
    line-height: 22px;
  }

  &:global(.ant-btn-sm) {
    height: 24px;
  }

  &:global(.ant-btn-primary) {
    background-color: var(--main-green);
    border-color: var(--main-green);

    &:hover {
      background-color: var(--main-green-hover) !important;
      border-color: var(--main-green-hover) !important;
    }
  }

  &:global(.ant-btn-link) {
    color: var(--main-green);

    &:hover,
    &:active {
      color: var(--main-green-hover) !important;
    }
  }
}
