.link {
  font-family: var(--font-gardens-src);
  color: var(--main-green);
  font-size: 14px;
  line-height: 22px;
  transition: color 0.2s ease;

  &:hover {
    color: var(--main-green-hover);
  }
}
